[Desktop Entry]
Name=Background-Fox
GenericName=Background-Fox
Comment=Update the background fox on login
Exec=~/.local/opt/teahouse-fox/background-fox.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
